.builder {
  margin-top: 10rem;
  margin-bottom: 16rem;
  display: flex;
  justify-content: center;

  &__container {
    background-color: var(--c-E1E2EF);
    width: 676px;
    height: 76px;
    border-radius: 91px;
    display: flex;
    align-items: center;

    &-label {
      background-color: var(--c-050729);
      border-radius: 91px;
      width: 170px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Lufga;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: 'Lufga700';
      color: var(--c-FFFFFF);
    }

    &-arrow {
      display: flex;
      align-items: center;
      padding: 0 2.4rem;
    }

    &-circle {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--c-0507293D);
      margin-right: 0.6rem;
      font-family: 'Lufga500';
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 768px) {
  .builder {
    &__container {
      width: 32.7rem;
      height: 44px;
      &-label {
        width: 6.9rem;
        font-size: 1.6rem;
      }
      &-arrow {
        padding: 0 0.8rem;

        img {
          width: 2.4rem;
          height: auto;
        }
      }
      &-circle {
        width: 3.2rem;
        height: 3.2rem;
        font-size: 1.4rem;
        margin-right: 0.4rem;
      }
    }
  }
}

